<div class="page-header">
  <h1>Edit profile</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <% display_validation_errors %>

    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation %>
      <div class="controls">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <div class="controls">
        <%= f.password_field :current_password %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'cancel', user_path(current_user), :class => 'btn' %>
    </div>
<% end %>
