<div class="tweet-on-wall">
  <%= image_tag tweet.user.avatar_url, :class => "thumb" %>
  <strong><%= link_to tweet.user.username, user_path(tweet.user) %></strong>

  <div class="tweet-controls">
    <span><%= l tweet.created_at %></span>
    <%= link_to "Edit", edit_user_tweet_path(tweet.user, tweet), :class => 'btn btn-mini' %>
    <%= link_to "Delete", user_tweet_path(tweet.user, tweet), :method => :delete,
                :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
  </div>

  <div class="tweet-content">
    <%= tweet.text %><br/>
    <% if tweet.img_attachment? %>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#attachment-<%= tweet.id %>">View all</button>
        <div id="attachment-<%= tweet.id %>" class="collapse">
            <%= image_tag(tweet.img_attachment_url) %>
        </div>
    <% end %>
  </div>
</div>
