<tr class="tweet-on-wall">
  <td>
    <strong><%= @tweet.user.username %></strong> <br/>
    <%= @tweet.text %>           <br/>
    <%= @tweet.tweet_id %>            <br/>
    <%=l @tweet.created_at %>              <br/>
    <%= image_tag(@tweet.img_attachment_url) if @tweet.img_attachment? %>

    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_tweet_path(@tweet.user, @tweet), :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_tweet_path(@tweet.user, @tweet),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
