<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.username %></h1>
</div>

<% content_for :avatar do %>
    <%= image_tag(@user.avatar_url) %>
    <% if user_signed_in? %>
        <div id="follow-link"><%= follow_link(@user) %></div>
    <% end %>
<% end %>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong>Bio:</strong></dt>
  <dd><%= @user.bio %></dd>
  <dt><strong>Location:</strong></dt>
  <dd><%= @user.location %></dd>
</dl>

<div class="form-actions">

  <% if user_signed_in? %>
      <a class="btn" data-toggle="modal" data-target="#new-tweet-modal">New tweet</a>
      <%= render :template => "tweets/new" %>
  <% end %>

  <div id="wall">
    <%= paginate @tweets %>
    <%= render :template => "tweets/index" %>
  </div>
</div>
