<div class="page-header">
  <h1><%= @user.username %></h1>
</div>

<% content_for :avatar do %>
    <%= image_tag(@user.avatar_url) %>
    <% if user_signed_in? %>
        <div id="follow-link-<%= @user.id %>"> <%= follow_link(@user) %> </div>
    <% end %>
<% end %>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong>Bio:</strong></dt>
  <dd><%= @user.bio %></dd>
  <dt><strong>Location:</strong></dt>
  <dd><%= @user.location %></dd>
</dl>

<% if @user.repos_url.present? %>
    <b>Your Public Github Repositories:</b>
    <%= image_tag "loading.gif", :id => "load-repos-indicator" %>
    <table id="repos_list"></table>
    <%= hidden_field_tag :user_repos_url, @user.repos_url %>
    <%= hidden_field_tag :clone_repo_url, clone_repo_path %>
    <%= content_for :scripts, javascript_include_tag('pipeline/user/show') %>
<% end %>

<%= link_to "Try Rails Just Now! Create Your Own Blog in 10 Minutes!", new_initial_project_path %>

<div class="form-actions">
  <div class="table table-striped">
    <%= paginate @tweets %>
    <div id="wall-<%= @user.id %>">
      <%= render :template => "tweets/index" %>
    </div>
  </div>
</div>


<div id="editor">
  # ruby code
  def foo
    if "asd" =~ /asdas/
        p 'rr as fasdas #{ 1 + 2 }'
    end
  end
  // js code
  function getx(){
    var x = 1;
    return x;
  }
</div>
