<%= content_for :scripts, javascript_include_tag("pipeline/initial_project/form") %>
<%= content_for :head_styles, stylesheet_link_tag("pipeline/initial_project/form") %>

<div id="terminal-window" class="modal hide">
  <div id="terminal"></div>
</div>

<div id="editor-window" class="modal hide">
  <div id="panel">Tollbar panel here</div>
  <div id="project-structure">Project<br/>tree<br/>here</div>
  <div id="editor"></div>
</div>

<%= hidden_field_tag :username, current_user.username %>
<%= hidden_field_tag :initial_projects_path, initial_projects_path %>
<%= hidden_field_tag :initial_project_name, @initial_project.name %>
