<% require 'pathname' %>
<ul class="jqueryFileTree" style="display: none;">
  <% @files.each do |f| %>
      <% if f[:type] == 'directory' %>
          <li class="directory collapsed"><a href="#" rel="<%= f[:rel] %>"><%= f[:name] %></a></li>
      <% else %>
          <li class="file ext_<%= f[:ext] %>"><a href="#" rel="<%= f[:rel] %>"><%= f[:name] %></a></li>
      <% end %>
  <% end %>
</ul>
